@font-face {
  font-family: 'GT Walsheim';
  src: url("fonts/GTWalsheim\ Medium.otf") format("opentype");
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#text-input {
  z-index: 2;
  position: absolute;
  top: -100px;
}

#menu {
  z-index: 1;
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 32px 0;
}

#menu > a {
  font-family: 'GT Walsheim', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  height: 3rem;
  text-decoration: none;
  color: inherit;
  transition: font-size 0.2s;
}

#menu > a:hover {
  font-size: 3rem;
}

#menu > a.selected {
  text-decoration: underline;
}

#text-container {
  position: absolute;
  bottom: 80px;
  min-height: calc(100% - (3rem + 112px));
  width: calc(100% - 128px);
  margin: 0 64px;
}

#text-container .line {
  min-height: 100px;
  padding-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
}

#text-container .word {
  margin-right: 64px;
}

#text-container .word > img {
  height: 100px;
}

#color-menu {
  position: absolute;
  margin: 16px;
}

#color-menu button{
  height: 32px;
  width: 32px;
  margin: 8px;
  border: 1px solid;
}

#color-menu button:hover {
  cursor: pointer;
}

@media (hover:none) {
  #text-input:focus ~ #text-container {
    bottom: 50%;
    min-height: calc(50% - (6rem + 64px));
  }

  #text-input:focus ~ #color-menu {
    bottom: calc(50%);
  }

  #color-menu {
    z-index: 3;
    top: 20%;
    right: 0;
    display: flex;
    flex-direction: column;
  }
  
  #color-menu button{
    height: 64px;
    width: 64px;
  }
}

@media (hover:hover) {
  #color-menu {
    bottom: 0;
    left: 0;
  }
}
